@import '/home/ramak/.config/colors.css';

* {
	border: none;
	border-radius: 0px;
    font-family: "Hack";
	min-height: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

@import "./size.css";

window#waybar {
	background: transparent;
}

#pulseaudio,
#clock,
#backlight {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 8px;
	padding-right: 8px;
	transition: none;
    color: @colorMagenta0;
	background: @bgColor0;
    padding-top: 2px;
    padding-bottom: 2px;
}

#language,
#network,
#cpu,
#memory,
#battery,
#battery.charging,
#battery.plugged {
	margin-top: 0px;
	margin-left: 10px;
	margin-right: 0px;
	padding-left: 8px;
	padding-right: 8px;
	margin-bottom: 0px;
	transition: none;
	color: @colorMagenta1;
	background: @bgColor0;
    padding-top: 2px;
    padding-bottom: 2px;
}

#workspaces button {
	margin-right: 10px;
	padding-left: 5px;
	padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
	transition: none;
	color: @colorMagenta1;
	background: @bgColor0;
    padding-top: 2px;
    padding-bottom: 2px;
}
#workspaces button.active {
	margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: @colorMagenta0;
}
