@import './colors.css';

* {
	border: none;
	border-radius: 0px;
	min-height: 0;
}

@import "./shared.css";

window#waybar {
	background: @bg0;
    padding-top: 2px;
    padding-bottom: 2px;
}

#pulseaudio,
#clock {
	border-right: 1px solid @primary;
}

#pulseaudio,
#clock,
#backlight {
	padding-left: 12px;
	padding-right: 12px;
	transition: none;
    color: @primary;
	background: @bg0;
}

#language,
#network,
#cpu,
#memory,
#battery {
	padding-left: 12px;
	padding-right: 12px;
	transition: none;
}

#language,
#network,
#cpu,
#memory {
	color: @primary;
	background: @bg0;
}

#language,
#network,
#cpu,
#memory {
	border-right: 1px solid @primary;
}

#battery.plugged,
#battery.charging,
#battery.discharging,
#battery.full {
	background: @bg0;
	color: @primary;
}

#workspace {
    border: none;
    border-radius: 0px;
	background: transparent;
}

#workspaces button {
	padding-left: 10px;
	padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
	color: @primary;
    transition: none;
	background: transparent;
    box-shadow: none;
	/* border-left: 1px solid @primary; */
}
#workspaces button.active {
	background: @white3;
    color: @bg0;
    font-weight: bold;
}
/* #workspaces button#niri-workspace-T { */
/* 	border-left: 1px solid @primary; */
/* } */
