@import './colors.css';

* {
	/* border: 1px solid @bg1; */
	border: none;
	border-radius: 0px;
    font-family: "JetBrains Mono";
	min-height: 0;
    /* margin-top: 0px; */
    /* margin-bottom: 0px; */
}

@import "./size.css";

window#waybar {
	/* background: transparent; */
	background: @bg0;
}

#pulseaudio,
#clock {
	border-right: 1px solid @primary;
}

/* #backlight { */
/* 	margin-top: 2px; */
/* 	margin-bottom: 2px; */
/* } */

#pulseaudio,
#clock,
#backlight {
	padding-left: 12px;
	padding-right: 12px;
	transition: none;
    color: @primary;
	background: @bg0;
}

#language,
#network,
#cpu,
#memory,
#battery {
	padding-left: 12px;
	padding-right: 12px;
	transition: none;
	color: @primary;
	background: @bg0;
    padding-top: 2px;
    padding-bottom: 2px;
}

#language,
#network,
#cpu,
#memory {
	border-right: 1px solid @primary;
}

#battery.plugged,
#battery.charging,
#battery.full {
	color: @primary;
}

#workspaces button {
	padding-left: 10px;
	padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
	transition: none;
	color: @primary;
	background: @bg0;
    padding-top: 2px;
    padding-bottom: 2px;
}
#workspaces button.active {
	/* border: 1px solid @bg0; */
	/* border: none; */
    /* padding-left: 9px; */
    /* padding-right: 9px; */
	background: @white3;
    color: @bg0;
}
