// Configuration for the Niri compositor

include "./share.kdl"

input {
    keyboard {
        xkb {
            layout "us,ru"
            options "grp:alt_caps_toggle"
        }

        repeat-delay 200
        repeat-rate 30
    }

    touchpad {
        // off
        // tap
        // dwt
        // dwtp
        // drag false
        // drag-lock
        natural-scroll
        // accel-speed 0.2
        accel-profile "flat"
        // scroll-method "two-finger"
        // disabled-on-external-mouse
    }

    mouse {
        // off
        // natural-scroll
        accel-speed 1.0
        accel-profile "flat"
        // scroll-method "no-scroll"
    }

    trackpoint {
        // off
        // natural-scroll
        accel-speed 1.0
        accel-profile "flat"
        // scroll-method "on-button-down"
        // scroll-button 273
        // scroll-button-lock
        // middle-emulation
    }
}

cursor {
    xcursor-size 18
    hide-after-inactive-ms 500
    hide-when-typing
}

output "eDP-1" {
    mode "2880x1620"

    scale 2

    // normal, 90, 180, 270, flipped, flipped-90, flipped-180 and flipped-270.
    transform "normal"
    position x=0 y=0
}

layout {
    center-focused-column "never"

    // You can customize the widths that "switch-preset-column-width" (Mod+R) toggles between.
    preset-column-widths {
        proportion 0.5
        proportion 1.0
    }

    // You can also customize the heights that "switch-preset-window-height" (Mod+Shift+R) toggles between.
    preset-window-heights {
        proportion 0.5
        proportion 1.0
    }

    focus-ring {
        off
    }
    border { }
    shadow { }
    struts { }
}

workspace "1"
workspace "2"
workspace "3"
workspace "4"
workspace "5"
workspace "6"
workspace "7"

workspace "AUX"

window-rule {
    match title=".*-scratch$"
    match at-startup=true
    default-column-width { proportion 1.0; }
    open-on-workspace "AUX"
}

spawn-sh-at-startup "ZDOTDIR=/home/ramak/.config/special-terminal foot --title 'terminal-scratch'"
spawn-sh-at-startup "ZDOTDIR=/home/ramak/.config/special-music foot --title 'music-scratch' zsh -c 'rmpc; zsh'"
spawn-sh-at-startup "foot --title 'system-scratch' zsh -c 'htop; zsh'"
spawn-sh-at-startup "foot --title 'calc-scratch' zsh -c 'qalc -s autocalc; zsh'"

spawn-at-startup "waybar"
spawn-at-startup "mpd"
spawn-at-startup "wpaperd" "-d"
spawn-at-startup "transmission-daemon"

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

// You can change the path where screenshots are saved.
// A ~ at the front will be expanded to the home directory.
// The path is formatted with strftime(3) to give you the screenshot date and time.
screenshot-path "~/media/pictures/%Y-%m-%d-%H-%M-%S.png"

// Animation settings.
animations {
    off
    slowdown 0.5
}

binds {
    // Lauching programs
    Mod+T { spawn "foot"; }
    Mod+Shift+T { spawn-sh "ZDOTDIR=/home/ramak/.config/special-terminal/ foot"; }
    Mod+X { spawn-sh "foot zsh -c 'nvim-server -f; br; zsh'"; }
    Mod+Return { spawn-sh "$(tofi-drun)"; }
    Mod+Ctrl+Return { spawn-sh "$(echo -e 'reboot\npoweroff' | tofi)"; }
    Mod+Ctrl+B { spawn "firefox"; }
    // Super+Alt+L { spawn "swaylock"; }

    // Scratchpads
    Mod+C { spawn-sh "niri-scratch terminal-scratch"; }
    Mod+V { spawn-sh "niri-scratch music-scratch"; }
    Mod+S { spawn-sh "niri-scratch system-scratch"; }
    Mod+Q { spawn-sh "niri-scratch calc-scratch"; }

    // Audio controls
    Mod+Shift+Page_Up allow-when-locked=true { spawn "amixer" "sset" "Master" "5%+"; }
    Mod+Shift+Page_Down allow-when-locked=true { spawn "amixer" "sset" "Master" "5%-"; }
    Mod+Shift+End        allow-when-locked=true { spawn "amixer" "sset" "Master" "toggle"; }

    // General playback controls
    Mod+Ctrl+Space { spawn "playerctl" "play-pause"; }
    Mod+Ctrl+Shift+Down { spawn "playerctl" "next"; }
    Mod+Ctrl+Shift+Up { spawn "playerctl" "prev"; }

    // Local playback control
    Mod+Space { spawn "rmpc" "togglepause"; }
    Mod+Shift+Home { spawn "rmpc" "seek" "0"; }
    Mod+Shift+Down { spawn "rmpc" "next"; }
    Mod+Shift+Up { spawn "rmpc" "prev"; }
    Mod+Shift+Right { spawn "rmpc" "seek" "+5"; }
    Mod+Shift+Left { spawn "rmpc" "seek" "-5"; }
    Mod+Ctrl+Shift+Right { spawn "rmpc" "seek +15"; }
    Mod+Ctrl+Shift+Left { spawn "rmpc" "seek" "-15"; }
    Mod+Shift+C { spawn "rmpc" "clear"; }

    // Example brightness key mappings for brightnessctl.
    Mod+Shift+Period allow-when-locked=true { spawn "brightnessctl" "s" "5%+"; }
    Mod+Shift+Comma allow-when-locked=true { spawn "brightnessctl" "s" "5%-"; }
    Mod+Alt+Shift+Period allow-when-locked=true { spawn "brightnessctl" "s" "1+"; }
    Mod+Alt+Shift+Comma allow-when-locked=true { spawn "brightnessctl" "s" "1-"; }
    Mod+Ctrl+Shift+Period allow-when-locked=true { spawn "brightnessctl" "s" "100%"; }
    Mod+Ctrl+Shift+Comma allow-when-locked=true { spawn "brightnessctl" "s" "1"; }

    Mod+Escape repeat=false { toggle-overview; }

    Mod+W repeat=false { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+Right { focus-column-right; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }

    Mod+Alt+Left  { move-column-left; }
    Mod+Alt+Down  { move-window-down; }
    Mod+Alt+Up    { move-window-up; }
    Mod+Alt+Right { move-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Alt+Home { move-column-to-first; }
    Mod+Alt+End  { move-column-to-last; }

    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+Alt+Page_Down { move-column-to-workspace-down; }
    Mod+Alt+Page_Up   { move-column-to-workspace-up; }

    Mod+1 { focus-workspace "1"; }
    Mod+2 { focus-workspace "2"; }
    Mod+3 { focus-workspace "3"; }
    Mod+4 { focus-workspace "4"; }
    Mod+5 { focus-workspace "5"; }
    Mod+6 { focus-workspace "6"; }
    Mod+7 { focus-workspace "7"; }
    Mod+Alt+1 { move-column-to-workspace "1"; }
    Mod+Alt+2 { move-column-to-workspace "2"; }
    Mod+Alt+3 { move-column-to-workspace "3"; }
    Mod+Alt+4 { move-column-to-workspace "4"; }
    Mod+Alt+5 { move-column-to-workspace "5"; }
    Mod+Alt+6 { move-column-to-workspace "6"; }
    Mod+Alt+7 { move-column-to-workspace "7"; }

    Mod+Shift+Tab { focus-workspace-previous; }

    Mod+Ctrl+Left  { consume-or-expel-window-left; }
    Mod+Ctrl+Right { consume-or-expel-window-right; }

    // Mod+Ctrl+Left  { consume-window-into-column; }
    // Mod+Ctrl+Right { expel-window-from-column; }

    Mod+Backslash { switch-preset-column-width; }
    Mod+Shift+Backslash { switch-preset-window-height; }
    Mod+Ctrl+Backslash { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Tab { fullscreen-window; }

    Mod+Ctrl+BracketRight { expand-column-to-available-width; }

    Mod+Alt+C { center-column; }
    Mod+Ctrl+C { center-visible-columns; }

    Mod+Minus { set-column-width "-5%"; }
    Mod+Equal { set-column-width "+5%"; }
    Mod+Shift+Minus { set-window-height "-5%"; }
    Mod+Shift+Equal { set-window-height "+5%"; }

    // Move the focused window between the floating and the tiling layout.
    Mod+Shift+V       { toggle-window-floating; }
    Mod+Ctrl+V { switch-focus-between-floating-and-tiling; }

    // Toggle tabbed column display mode.
    // Windows in this column will appear as vertical tabs,
    // rather than stacked on top of each other.
    Mod+Ctrl+Home { toggle-column-tabbed-display; }

    // Mod+Space       { switch-layout "next"; }
    // Mod+Shift+Space { switch-layout "prev"; }

    Mod+F1 { screenshot; }
    Mod+F2 { screenshot-window; }
    Mod+Shift+P { screenshot-screen; }

    Mod+Shift+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
}
