// Configuration for the Niri compositor

include "config2.kdl"

// Input device configuration.
// Find the full list of options on the wiki:
// https://yalter.github.io/niri/Configuration:-Input
input {
    keyboard {
        xkb {
            layout "us,ru"
            options "grp:alt_caps_toggle"
        }

        repeat-delay 200
        repeat-rate 30
    }

    // Next sections include libinput settings.
    // Omitting settings disables them, or leaves them at their default values.
    // All commented-out settings here are examples, not defaults.
    touchpad {
        // off
        // tap
        // dwt
        // dwtp
        // drag false
        // drag-lock
        natural-scroll
        // accel-speed 0.2
        accel-profile "flat"
        // scroll-method "two-finger"
        // disabled-on-external-mouse
    }

    mouse {
        // off
        // natural-scroll
        accel-speed 1.0
        accel-profile "flat"
        // scroll-method "no-scroll"
    }

    trackpoint {
        // off
        // natural-scroll
        accel-speed 1.0
        accel-profile "flat"
        // scroll-method "on-button-down"
        // scroll-button 273
        // scroll-button-lock
        // middle-emulation
    }
}

cursor {
    xcursor-size 18
    hide-after-inactive-ms 500
    hide-when-typing
}

output "eDP-1" {
    mode "2880x1620"

    scale 2

    // normal, 90, 180, 270, flipped, flipped-90, flipped-180 and flipped-270.
    transform "normal"
    position x=0 y=0
}

layout {
    gaps 0

    // When to center a column when changing focus, options are:
    // - "never", default behavior, focusing an off-screen column will keep at the left
    //   or right edge of the screen.
    // - "always", the focused column will always be centered.
    // - "on-overflow", focusing a column will center it if it doesn't fit
    //   together with the previously focused column.
    center-focused-column "never"

    // You can customize the widths that "switch-preset-column-width" (Mod+R) toggles between.
    preset-column-widths {
        proportion 0.5
        proportion 1.0
    }

    // You can also customize the heights that "switch-preset-window-height" (Mod+Shift+R) toggles between.
    preset-window-heights {
        proportion 0.5
        proportion 1.0
    }

    default-column-width { proportion 0.5; }

    // You can change how the focus ring looks.
    focus-ring {
        off
        width 1

        // Colors can be set in a variety of ways:
        // - CSS named colors: "red"
        // - RGB hex: "#rgb", "#rgba", "#rrggbb", "#rrggbbaa"
        // - CSS-like notation: "rgb(255, 127, 0)", rgba(), hsl() and a few others.

        // Color of the ring on the active monitor.
        active-color "#7fc8ff"

        // Color of the ring on inactive monitors.
        inactive-color "#505050"
    }

    // You can also add a border. It's similar to the focus ring, but always visible.
    border {
        // off
        width 1
        active-color "#ffc87f"
        inactive-color "#505050"
        urgent-color "#9b0000"
    }

    // You can enable drop shadows for windows.
    shadow { }

    // Struts shrink the area occupied by windows, similarly to layer-shell panels.
    // You can think of them as a kind of outer gaps. They are set in logical pixels.
    // Left and right struts will cause the next window to the side to always be visible.
    // Top and bottom struts will simply add outer gaps in addition to the area occupied by
    // layer-shell panels and regular gaps.
    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}

workspace "1"
workspace "2"
workspace "3"
workspace "4"
workspace "5"
workspace "6"
workspace "7"

window-rule {
    match at-startup=true
    match title=".*Scratchpad$"

    default-column-width { proportion 1.0; }
    open-on-workspace "scratch"
}

workspace "scratch"

// workspace "t"
// workspace "m"
// workspace "s"
// workspace "c"

spawn-at-startup "waybar"
spawn-at-startup "mpd"
spawn-at-startup "wpaperd" "-d"
spawn-at-startup "transmission-daemon"

// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"

hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
    skip-at-startup
}

// Uncomment this line to ask the clients to omit their client-side decorations if possible.
// If the client will specifically ask for CSD, the request will be honored.
// Additionally, clients will be informed that they are tiled, removing some client-side rounded corners.
// This option will also fix border/focus ring drawing behind some semitransparent windows.
// After enabling or disabling this, you need to restart the apps for this to take effect.
prefer-no-csd

// You can change the path where screenshots are saved.
// A ~ at the front will be expanded to the home directory.
// The path is formatted with strftime(3) to give you the screenshot date and time.
screenshot-path "~/media/pictures/%Y-%m-%d-%H-%M-%S.png"

// Animation settings.
animations {
    // off
    slowdown 0.5
}

binds {
    // Lauching programs
    Mod+T { spawn "foot"; }
    Mod+Shift+T { spawn-sh "ZDOTDIR=/home/ramak/.config/special-terminal/ foot"; }
    Mod+X { spawn-sh "foot zsh -c 'nvim-server -f; br; zsh'"; }
    Mod+Return { spawn-sh "$(tofi-drun)"; }
    Mod+Ctrl+Return { spawn-sh "$(echo -e 'reboot\npoweroff' | tofi)"; }
    Mod+Ctrl+B { spawn "firefox"; }
    // Super+Alt+L { spawn "swaylock"; }

    // Scratchpads
    // Mod+C { focus-workspace "t"; }
    // Mod+V { focus-workspace "m"; }
    // Mod+S { focus-workspace "s"; }
    // Mod+Q { focus-workspace "c"; }
    Mod+C { focus-workspace "scratch"; }

    // Audio controls
    Mod+Shift+Page_Up allow-when-locked=true { spawn "amixer" "sset" "Master" "5%+"; }
    Mod+Shift+Page_Down allow-when-locked=true { spawn "amixer" "sset" "Master" "5%-"; }
    Mod+Shift+End        allow-when-locked=true { spawn "amixer" "sset" "Master" "toggle"; }

    // General playback controls
    Mod+Ctrl+Space { spawn "playerctl" "play-pause"; }
    Mod+Ctrl+Shift+Down { spawn "playerctl" "next"; }
    Mod+Ctrl+Shift+Up { spawn "playerctl" "prev"; }

    // Local playback control
    Mod+Space { spawn "rmpc" "togglepause"; }
    Mod+Shift+Home { spawn "rmpc" "seek" "0"; }
    Mod+Shift+Down { spawn "rmpc" "next"; }
    Mod+Shift+Up { spawn "rmpc" "prev"; }
    Mod+Shift+Right { spawn "rmpc" "seek" "+5"; }
    Mod+Shift+Left { spawn "rmpc" "seek" "-5"; }
    Mod+Ctrl+Shift+Right { spawn "rmpc" "seek +15"; }
    Mod+Ctrl+Shift+Left { spawn "rmpc" "seek" "-15"; }
    Mod+Shift+C { spawn "rmpc" "clear"; }

    // Example brightness key mappings for brightnessctl.
    Mod+Shift+Period allow-when-locked=true { spawn "brightnessctl" "s" "5%+"; }
    Mod+Shift+Comma allow-when-locked=true { spawn "brightnessctl" "s" "5%-"; }
    Mod+Alt+Shift+Period allow-when-locked=true { spawn "brightnessctl" "s" "1+"; }
    Mod+Alt+Shift+Comma allow-when-locked=true { spawn "brightnessctl" "s" "1-"; }
    Mod+Ctrl+Shift+Period allow-when-locked=true { spawn "brightnessctl" "s" "100%"; }
    Mod+Ctrl+Shift+Comma allow-when-locked=true { spawn "brightnessctl" "s" "1"; }

    Mod+Escape repeat=false { toggle-overview; }

    Mod+W repeat=false { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+Right { focus-column-right; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }

    Mod+Alt+Left  { move-column-left; }
    Mod+Alt+Down  { move-window-down; }
    Mod+Alt+Up    { move-window-up; }
    Mod+Alt+Right { move-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Alt+Home { move-column-to-first; }
    Mod+Alt+End  { move-column-to-last; }

    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+Alt+Page_Down { move-column-to-workspace-down; }
    Mod+Alt+Page_Up   { move-column-to-workspace-up; }

    Mod+1 { focus-workspace "1"; }
    Mod+2 { focus-workspace "2"; }
    Mod+3 { focus-workspace "3"; }
    Mod+4 { focus-workspace "4"; }
    Mod+5 { focus-workspace "5"; }
    Mod+6 { focus-workspace "6"; }
    Mod+7 { focus-workspace "7"; }
    Mod+Alt+1 { move-column-to-workspace "1"; }
    Mod+Alt+2 { move-column-to-workspace "2"; }
    Mod+Alt+3 { move-column-to-workspace "3"; }
    Mod+Alt+4 { move-column-to-workspace "4"; }
    Mod+Alt+5 { move-column-to-workspace "5"; }
    Mod+Alt+6 { move-column-to-workspace "6"; }
    Mod+Alt+7 { move-column-to-workspace "7"; }

    Mod+Shift+Tab { focus-workspace-previous; }

    Mod+Ctrl+Left  { consume-or-expel-window-left; }
    Mod+Ctrl+Right { consume-or-expel-window-right; }

    // Mod+Ctrl+Left  { consume-window-into-column; }
    // Mod+Ctrl+Right { expel-window-from-column; }

    Mod+Slash { switch-preset-column-width; }
    Mod+Shift+Slash { switch-preset-window-height; }
    Mod+Ctrl+Slash { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Tab { fullscreen-window; }

    Mod+Ctrl+BracketRight { expand-column-to-available-width; }

    Mod+Alt+C { center-column; }
    Mod+Ctrl+C { center-visible-columns; }

    Mod+Minus { set-column-width "-5%"; }
    Mod+Equal { set-column-width "+5%"; }
    Mod+Shift+Minus { set-window-height "-5%"; }
    Mod+Shift+Equal { set-window-height "+5%"; }

    // Move the focused window between the floating and the tiling layout.
    Mod+Shift+V       { toggle-window-floating; }
    Mod+Ctrl+V { switch-focus-between-floating-and-tiling; }

    // Toggle tabbed column display mode.
    // Windows in this column will appear as vertical tabs,
    // rather than stacked on top of each other.
    Mod+Ctrl+Home { toggle-column-tabbed-display; }

    // Mod+Space       { switch-layout "next"; }
    // Mod+Shift+Space { switch-layout "prev"; }

    Mod+F1 { screenshot; }
    Mod+F2 { screenshot-window; }
    Mod+Shift+P { screenshot-screen; }

    Mod+Shift+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
}
