#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    address: "127.0.0.1:6600",
    password: None,
    cache_dir: Some("/home/ramak/.cache/rmpc"),
    lyrics_dir: Some("/home/ramak/media/music"),
    lyrics_offset_ms: 0,
    enable_lyrics_index: false,
    theme: Some("ramak"),
    on_song_change: None,
    volume_step: 5,
    max_fps: 30,
    scrolloff: 0,
    wrap_navigation: false,
    enable_mouse: false,
    status_update_interval_ms: 1000,
    select_current_song_on_change: true,
    album_art: (
        method: None,
    ),
    keybinds: (
        clear: true,
        global: {
            ":":            CommandMode,
            "<Tab>":        NextTab,
            "<S-Tab>":      PreviousTab,
            "<C-PageDown>": NextTab,
            "<C-PageUp>":   PreviousTab,
            "q":            Quit,
            ">":            NextTrack,
            "<Space>":      TogglePause,
            "<":            PreviousTrack,
            "[":            SeekBack,
            "]":            SeekForward,
            "R":            ToggleRepeat,
            "S":            ToggleRandom,
            // "C":            ToggleConsume,
            "X":            ToggleSingle,
            "?":            ShowHelp,
            "I":            ShowCurrentSongInfo,
            "O":            ShowOutputs,
            "P":            ShowDecoders,
            // "C":            DeleteAll,
        },
        navigation: {
            "<Up>":         Up,
            "<A-Up>":       UpHalf,
            "<Down>":       Down,
            "<A-Down>":     DownHalf,
            "<Left>":       Left,
            "<Right>":      Right,
            "<C-Up>":       PaneUp,
            "<C-Down>":     PaneDown,
            "<C-Left>":     PaneLeft,
            "<C-Right>":    PaneRight,
            "<C-u>":        UpHalf,
            "N":            PreviousResult,
            "a":            Add,
            "A":            AddAll,
            "n":            NextResult,
            "g":            Top,
            "<A-s>":        Select,
            "<C-A-s>":      InvertSelection,
            "G":            Bottom,
            "<CR>":         Confirm,
            "i":            FocusInput,
            "J":            MoveDown,
            "/":            EnterSearch,
            "<C-c>":        Close,
            "<Esc>":        Close,
            "K":            MoveUp,
            "D":            Delete,
        },
        queue: {
            "C":            DeleteAll,
            "<CR>":         Play,
            "<C-s>":        Save,
            "a":            AddToPlaylist,
            "d":            Delete,
            "i":            ShowInfo,
        },
    ),
    search: (
        case_sensitive: false,
        mode: Contains,
        tags: [
            (value: "any",         label: "Any Tag"),
            (value: "artist",      label: "Artist"),
            (value: "album",       label: "Album"),
            (value: "title",       label: "Title"),
        ],
    ),
    artists: (
        album_display_mode: SplitByDate,
        album_sort_by: Date,
    ),
    tabs: [
        (
            name: "Queue",
            pane: Pane(Queue),
        ),
        (
            name: "Directories",
            pane: Pane(Directories),
        ),
        (
            name: "Playlists",
            pane: Pane(Playlists),
        ),
        (
            name: "Search",
            pane: Pane(Search),
        ),
        (
            name: "Lyrics",
            pane: Pane(Lyrics),
        ),
    ],
)
