#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    show_song_table_header: true,
    browser_column_widths: [30, 34, 34],
    background_color: None,
    text_color: None,
    header_background_color: None,
    modal_background_color: None,
    tab_bar: (
        enabled: true,
        active_style: (fg: "black", bg: "yellow", modifiers: None),
        inactive_style: (),
    ),
    highlighted_item_style: (fg: "yellow", modifiers: None),
    current_item_style: (fg: "black", bg: "yellow", modifiers: None),
    draw_borders: false,
    borders_style: (fg: "yellow", modifiers: None),
    highlight_border_style: (fg: "yellow"),
    symbols: (
        song: ">",
        dir: "|",
        marker: "M ",
        ellipsis: "..."
    ),
    progress_bar: (
        symbols: ["-", "~", " "],
        track_style: (fg: "yellow"),
        elapsed_style: (fg: "yellow"),
        thumb_style: (fg: "red", bg: None),
    ),
    scrollbar: (
        // enabled: false,
        symbols: [" ", " ", " ", " "],
        track_style: (),
        ends_style: (),
        thumb_style: (),
    ),
    song_table_format: [
        (
            prop: (
                kind: Property(Artist),
                default: (kind: Text("Unknown"))
            ),
            width: "20%",
        ),
        (
            prop: (
                kind: Property(Title),
                default: (kind: Text("Unknown"))
            ),
            width: "35%",
        ),
        (
            prop: (
                kind: Property(Album),
                style: (fg: None),
                default: (
                    kind: Text("Unknown Album"),
                    style: (fg: None)
                )
            ),
            width: "30%",
        ),
        (
            prop: (
                kind: Property(Duration),
                default: (kind: Text("-"))
            ),
            width: "15%",
            alignment: Right,
        ),
    ],
    layout: Split(
        direction: Vertical,
        panes: [
            (
                pane: Pane(Header),
                size: "2",
            ),
            (
                pane: Pane(Tabs),
                size: "2",
            ),
            (
                pane: Pane(TabContent),
                size: "100%",
            ),
            (
                pane: Pane(ProgressBar),
                size: "1",
            ),
        ],
    ),
    header: (
        rows: [
            (
                left: [
                    (kind: Text("["), style: (fg: "yellow", modifiers: None)),
                    (
                        kind: Property(
                            Status(StateV2(
                                playing_label: "Playing",
                                paused_label: "Paused",
                                stopped_label: "Stopped"
                            ))
                        ),
                        style: (fg: "yellow", modifiers: None)
                    ),
                    (kind: Text("]"), style: (fg: "yellow", modifiers: None))
                ],
                center: [
                    (kind: Property(Song(Title)), style: (fg: "yellow", modifiers: None),
                        default: (kind: Text("No Song"), style: (fg: "yellow", modifiers: None))
                    )
                ],
                right: [
                    (kind: Property(Widget(Volume)), style: (fg: "yellow"))
                ]
            ),
            (
                left: [
                    (kind: Property(Status(Elapsed))),
                    (kind: Text(" / ")),
                    (kind: Property(Status(Duration))),
                    (kind: Text(" (")),
                    (kind: Property(Status(Bitrate))),
                    (kind: Text(" kbps)"))
                ],
                center: [
                    (kind: Property(Song(Artist)), style: (fg: None, modifiers: None),
                        default: (kind: Text("Unknown"), style: (fg: "yellow", modifiers: None))
                    ),
                    (kind: Text(" - ")),
                    (kind: Property(Song(Album)),
                        default: (kind: Text("Unknown"))
                    )
                ],
                right: [
                    (
                        kind: Property(Widget(States(
                            active_style: (fg: "yellow", modifiers: "Bold"),
                            separator_style: (fg: "red")))
                        ),
                        style: (fg: None)
                    ),
                ]
            ),
        ],
    ),
    browser_song_format: [
        (
            kind: Group([
                (kind: Property(Track)),
                (kind: Text(" ")),
            ])
        ),
        (
            kind: Group([
                (kind: Property(Artist)),
                (kind: Text(" - ")),
                (kind: Property(Title)),
            ]),
            default: (kind: Property(Filename))
        ),
    ],
)
