# Snippets for Typst

snippet $ "math mode" iA
\$$0\$
endsnippet

snippet dm "display math" iA
\$
  $0
\$
endsnippet

snippet ctr "center" b
#align(center)[
  $0
]
endsnippet

snippet slide "slide" b
#polylux-slide[
  $0
]
endsnippet

snippet fslide "focus slide" b
#focus-slide[
  $0
]
endsnippet

snippet pac "import package" i
import "@preview/$0"
endsnippet

snippet lib "import library" i
import "@local/$1:0.0.0": *
endsnippet
