@import "/home/ramak/.config/colors.css";

* {
    border: none;
}

@import "/home/ramak/.config/wofi/size.css";

window {
    font-family: "Hack";
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: @bg0;
    color: @colorWhite1;
}

#entry {
    padding: 5px;
}

#entry:selected {
    background-color: @bg2;
}

#text:selected {
    color: @colorBlue1;
}

#input {
    background-color: @bg0;
    color: @colorWhite1;
    padding: 10pt;
}
